%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, hint:"Enter your email address"
    = f.input :name, label: "User Name", hint:"Enter your preferred name" 
    = f.input :neighbourhood
    = f.input :password, hint:"Enter password"
    = f.input :password_confirmation, hint:"Confirm password"
  = f.actions do
    = f.action :submit, label: "Sign up"
= render :partial => "devise/shared/links"