<div class="container">
  <div class="feed">

    <h1>Listing Issues</h1>

    <%= button_to 'New Issue', new_issue_path, :method => :get, :class => 'btn btn-large btn-success' %>
    <br>
    <br>
    <% @recent_issues.each do |issue| %>

      <div class="panel panel-default panel-customization">
        <div class="panel-heading">
          <%= link_to issue.title, issue %><br>
          <%= issue.details %><br>
          Found at <%= issue.location ? issue.address : 'location unknown' %>, reported by
          <%= issue.user.email %> on <%= issue.created_at %>
        </div>


        <div class="panel-body">
          <%= image_tag issue.snapshot %>
          <%= tag("div", class:'map', id:"map_#{issue.id}",
            data:{
              latitude: issue.latitude,
              longitude: issue.longitude,
              address: issue.address
            }) if issue.location %>

          <% if issue.comments.count > 0 %>
            <% issue.comments.each do |comment| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= comment.user.name %><br>
                  <%= comment.content %><br>
                  <%= comment.created_at %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>app

        <%= form_for(@comment) do |f| %>
          <div class="field">
            <div class="obscure"><%= f.label :content %></div><br>
            <%= f.text_area :content %>
            <%= f.hidden_field :issue_id, value: issue.id %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

<% content_for :view_scripts do %>
  <script type="text/javascript">
    $('.map').each(function(index,element){
      var $this = $(this),
          lat = $this.data('latitude'),
          lng = $this.data('longitude'),
          adr = $this.data('address'),
          map = new GMaps({
            div: '#' + $this.attr('id'),
            lat: lat,
            lng: lng
          });
      map.addMarker({
        lat: lat,
        lng: lng,
        infoWindow: { content: adr }
      });
    })
  </script>
<% end %>


