<!DOCTYPE html>
<html>
<head>
  <title>SCF</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" >SCF</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <% if current_admin %>
            <li><%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %></li>
            <% end %>
            
            <% if current_user %>
            <li><a href="#"><%= current_user.name %></a></li>
            <li><%= image_tag(current_user.smallimage, :height => 45, :width => 45)%></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <% end %>
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

<div class="container">
  <%= yield %>

  <div class="footer">
    <p>&copy; Overall Layout 2013</p>
  </div>

</div><!--/.container-->

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
